/* .navItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
  text-decoration: none;
  color: var(--color-secondary);
}

.navItem.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  color: inherit;
}

.navItem.label {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.015em;
  color: inherit;
}

.navItem.active {
  border-radius: 10000px;
  color: var(--color-text);
} */
