:root {
    --color-topBar: #1A2426;
    --color-breadCrumbBar: #FEBE14;
    --color-loginTopBarColor: #FFFFFF;
}

.topBarlogo{
    width: 50%;
    padding-left: 5%;
}

.plainTopBar{
    width: 100%;
    background-color: var(--color-topBar);
    padding-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchTopBar{
    width: 100%;
    background-color: var(--color-topBar);
    padding-top: 14%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchTopBar .search{
    padding-bottom: 5%;
}

.loggedOutTopBar{
    width: 100%;
    background-color: var(--color-loginTopBarColor);
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.breadCrumbs{
    padding: 5px;
    padding-left: 5%;
    background-color: var(--color-breadCrumbBar);
}

.topBar{
    position: sticky;
    top: 0;
}