.topBar{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    padding: 1rem;       /* equivalent to p-4 */
    padding-bottom: 0.5rem; /* equivalent to pb-2 */
}

.topBar .icon-container {
    color: var(--color-text);
    display: flex;
    width: 3rem;       /* 12 x 0.25rem */
    height: 3rem;
    flex-shrink: 0;
    align-items: center;
  }
  
  .topBar .title {
    color: var(--color-text);
    font-size: 1.125rem; /* text-lg */
    font-weight: bold;
    line-height: 1.25;   /* leading-tight */
    letter-spacing: -0.015em;
    flex: 1;
    text-align: center;
    padding-right: 3rem; /* pr-12 = 12 * 0.25rem */
}