:root {
    --color-footer: #1A2426;
}

#bottomBar{
    position: fixed;
    bottom: 0;
}

#bottomNavBar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--color-footer);
}
