/* .commentContainer {
  display: flex;
  max-width: 100%; 
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem; 
  padding: 1rem; 
  overflow-x: auto; 
} */ /* optional: handles content overflow gracefully */ /* p-4 */ /* gap-3 */ /* prevents exceeding parent width */ /* ensures padding doesn't add to width */

/* .commentContainer .commentHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
} */ /* gap-x-3 */

/* .commentContainer .commentUsername {
  font-weight: bold;
  line-height: normal;
} */

/* .commentContainer .commentActions {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2.25rem;
  padding-top: 0.5rem;
} */
/* 
.commentContainer .commentReactGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
} */ /* gap-2 */
