/* <div class="gap-2 px-4 flex flex-wrap justify-start"> */
.coloredSvgButtonList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
    padding-left: 1rem;        /* px-4 = 16px */
    padding-right: 1rem;
}