:root {
    --color-avatarColour: #3498db;
    --color-cardLight: #FFFFFF;
    --color-cardDark: #F0F0F2;
    --size-avatarText: 25px;
    --size-normalText: 16px;
}

.circleAvatar {
    width: 60px;
    height: 60px;
    background-color: var(--color-avatarColour);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-cardLight); 
    font-size: var(--size-avatarText);
    text-transform: uppercase;
}
.avatarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#posts{
    background-color: var(--color-cardLight);
    display: flex;
    flex-direction: column;
    color: var(--color-text);
}

.dark{
    background-color: var(--color-cardDark);
}

.message{
    display: flex;
    width: left;
    padding: 10px;
}

#posts p{
    margin: 20px;
    size: var(--size-normalText);
    color: var(--color-text);
}

.postMessage{
    width:100%;
}