* {
  margin: 0px;
  padding: 0px;
}

html,body{margin:0;padding:0}

:root {
  --color-heading1: #000000;
  --color-subHeading: #000000;
  --color-text: #000000;
  --color-background: #ffffff;
  --size-heading1: 60px;
  --size-heading2: 30px;
  --size-heading3: 20px;
  --size-heading4: 12px;
  --size-normalText: 20px;
  --spacing-large: 20px;
  --spacing-medium: 10px;
  --spacing-small: 5px;
}

body {
  background-color: var(--color-background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: var(--color-heading);
  font-size: var(--size-heading1);
  margin-bottom: var(--spacing-large);
}

h2 {
  color: var(--colorsubHeading-heading);
  font-size: var(--size-heading2);
  margin-bottom: var(--spacing-medium);
}

h3{
  color: var(--color-footerContent);
  font-size: var(--size-heading3);
  margin-bottom: var(--spacing-small);
}

h4{
  color: var(--color-footerContent);
  font-size: var(--size-heading4);
  margin-bottom: var(--spacing-small);
}

p {
  color: var(--color-text);
  font-size: var(--size-normalText);
  margin-bottom: var(--spacing-large);
}